    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
          <!-- Menu -->
  
          <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
            <div class="app-brand demo">
              <a href="index.html" class="app-brand-link">
                <span class="app-brand-text demo menu-text fw-bolder ms-2">Tagliatore</span>
              </a>
  
              <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                <i class="bx bx-chevron-left bx-sm align-middle"></i>
              </a>
            </div>
  
            <div class="menu-inner-shadow"></div>
  
            <ul class="menu-inner py-1">
              <!-- Dashboard -->
              <li class="menu-item active">
                <a class="menu-link">
                  <i class="menu-icon tf-icons bx bx-home-circle"></i>
                  <div data-i18n="Analytics">Mantenimientos</div>
                </a>
              </li>
  
              <button (click)="goToPrincipal()" class="btn btn-primary mt-3" style="margin-left: 30px;padding-left: 55px;padding-right: 55px">Ir a Principal</button>
  
              <button (click)="goToMeseros()" class="btn btn-primary mt-3" style="margin-left: 30px;">Mantenimiento Meseros</button>

              <button (click)="goToCategoria()" class="btn btn-primary mt-3" style="margin-left: 30px;">Mantenimiento Categoria</button>

              <button (click)="goToPlatillo()" class="btn btn-primary mt-3" style="margin-left: 30px;">Mantenimiento Platillo</button>

              <button (click)="goToCliente()" class="btn btn-primary mt-3" style="margin-left: 30px;">Mantenimiento Cliente</button>

              <button (click)="goToOrden()" class="btn btn-primary mt-3" style="margin-left: 30px;">Mantenimiento Orden</button>
   
            </ul>
          </aside>
          <!-- / Menu -->
  
          <!-- Layout container -->
          <div class="layout-page">
            <!-- Navbar -->
  
            <nav
              class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
              id="layout-navbar" style="margin-bottom: 100px"
            >
              <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                  <i class="bx bx-menu bx-sm"></i>
                </a>
              </div>
  
              <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                <!-- Search -->
                <div class="navbar-nav align-items-center">
                  <div class="nav-item d-flex align-items-center">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    <input
                      type="text"
                      class="form-control border-0 shadow-none"
                      placeholder="Search..."
                      aria-label="Search..."
                    />
                  </div>
                </div>
                <!-- /Search -->
  
                <ul class="navbar-nav flex-row align-items-center ms-auto">
                  <!-- Place this tag where you want the button to render. -->
                  <li class="nav-item lh-1 me-3">
                    <a
                      class="github-button"
                      href="https://github.com/themeselection/sneat-html-admin-template-free"
                      data-icon="octicon-star"
                      data-size="large"
                      data-show-count="true"
                      aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
                      >Star</a
                    >
                  </li>
  
                  <!-- User -->
                  <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                      <div class="avatar avatar-online">
                        <img src="./assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                      </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li>
                        <a class="dropdown-item" href="#">
                          <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                              <div class="avatar avatar-online">
                                <img src="./assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                              </div>
                            </div>
                            <div class="flex-grow-1">
                              <span class="fw-semibold d-block">John Doe</span>
                              <small class="text-muted">Admin</small>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <div class="dropdown-divider"></div>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">
                          <i class="bx bx-user me-2"></i>
                          <span class="align-middle">My Profile</span>
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">
                          <i class="bx bx-cog me-2"></i>
                          <span class="align-middle">Settings</span>
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">
                          <span class="d-flex align-items-center align-middle">
                            <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                            <span class="flex-grow-1 align-middle">Billing</span>
                            <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                          </span>
                        </a>
                      </li>
                      <li>
                        <div class="dropdown-divider"></div>
                      </li>
                      <li>
                        <a class="dropdown-item" href="auth-login-basic.html">
                          <i class="bx bx-power-off me-2"></i>
                          <span class="align-middle">Log Out</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <!--/ User -->
                </ul>
              </div>
            </nav>

            <div class="card mb-4" style="width: 88%; margin-left: 40px;" >
                <h5 class="card-header">Búsqueda</h5>
                <div class="card-body">
                  <form (ngSubmit)="buscarOrden()">
                    <div class="d-flex align-items-start align-items-sm-center gap-4" style="margin-top: 20px;">
                      <label for="platilloId" class="form-label">ID</label>
                      <input
                        type="number"
                        id="ordenId"
                        class="form-control"
                        placeholder="Ingrese ID"
                        aria-label="Ingrese ID"
                        [(ngModel)]="ordenId"
                        name="ordenId"
                      />
                      <button type="submit" class="btn btn-primary me-2">Buscar</button>
                    </div>
                  </form>
                </div>
              </div>

          <!-- Mantenimiento -->
           <div style="width: 90%;">
            <div class="card" style="margin-left: 40px">
              <h5 class="card-header">Lista de Ordenes</h5>
              <div class="table-responsive text-nowrap">
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>ID Mesa</th>
                      <th>ID Platillo</th>
                      <th>ID Cliente</th>
                      <th>Cantidad</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let orden of listaOrdenes">
                      <td>{{ orden.id_orden }}</td>
                      <td>{{ orden.id_mesa }}</td>
                      <td>{{ orden.id_platillo }}</td>
                      <td>{{ orden.id_cliente }}</td>
                      <td>{{ orden.cantidad }}</td>
                      <td>
                        <!-- Botón Editar -->
                        <button (click)="editarOrden(orden.id_orden)" class="btn btn-warning btn-sm">
                          <i class="bx bx-edit-alt"></i> Editar
                        </button>
                        <!-- Botón Eliminar -->
                        <button (click)="eliminarOrden(orden.id_orden)" class="btn btn-danger btn-sm" style="margin-left: 20px;">
                          <i class="bx bx-trash"></i> Eliminar
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- Botón para crear un nuevo mesero -->
            </div>
          </div>

            <div style="width: 20%; padding-left: 40px">
            <button (click)="nuevoOrden()" class="btn btn-primary mt-3">Nuevo Orden</button>
            </div>
            <!-- Mantenimiento -->
  
            
          </div>
          <!-- / Layout page -->
        </div>
  
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
      </div>
      <!-- / Layout wrapper -->
  
      <div class="buy-now">
        <button class="btn btn-danger btn-buy-now" (click)="logout()">
          Cerrar Sesión
        </button>
      </div>
